<section class="main-bg page1 ">
        <header>
            <div class="col-md-12 col-sm-12 col-xs-12 p10">
                <div class="col-md-6 col-sm-6 col-xs-12 logo">
                    <a href="#">
                        <img src="assets/images/logo-new.png" alt="Company Logo">
                    </a>
                </div>
            </div>
        </header>
        <!-- Header Section End-->
        <section class="main-section bg-style">
            <!-- Content Section-->
            <div class="container text-center">
                <div class="landing-page">
                    <h1 class="main-head">Calculate the risk of you getting a heart disease.</h1>
                    <h2 class="sub-head">Heart problems are at an all time high. See if your lifestyle makes you susceptible.</h2>
                    <p class="description"></p>
					<div class="input-section">
						<input type="text" class=""  placeholder="Name">
						<input type="email" class=""  placeholder="Email">
					</div>
                    <button class="btn prime-action  next-step sliding-next " data-slide="2">Estimate Costs</button>
                </div>
            </div>
            <!-- Content Section end-->
        </section>