<div id="highlight_menu" style="display:none">
                  <ul class="side-by-side">
                      <li class="pointer"><span (click)="format($event,'bold')"><i class="fa fa-bold"></i></span></li>
                      <li class="pointer"><span (click)="format($event,'italic')"><i class="fa fa-italic"></i></span></li>
                      <li class="pointer"><span (click)="format($event,'underline')"><i class="fa fa-underline"></i></span></li>
                  </ul>

  <div class="caret"></div>
</div>